{% extends 'base.html' %}

{% block title %} Bookmarks {% endblock %}

{% block body %}
{% include 'components/header.html' %}

<div class="p-body">
    <div class="results-wrapper text-center">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for seller in bookmarks %}
            <div class="col">
                <div class="card card-search-result p-1 rounded-sm shadow h-100">
                    <img src="{{ seller.user.profile.url }}" class="rounded" alt="profile">
                    <div class="card-body">
                        <div class="fs-6"><strong>
                            {% if seller.user.is_vendor %}
                            {{ seller.business_name }}
                            {% else %}
                            {{ seller.user.full_name }}
                            {% endif %}
                        </strong></div>
                        <div class="rating">
                            <span class="text-warning"><i class="fas fa-star"></i></span>
                            <span class="num">4.5 - 5 reviews</span>
                        </div>
                        <div class="card-subtitle text-muted">{{ seller.location }} - {{ seller.city }}</div>
                        <small class="btn-secondary rounded px-2">
                            {% if seller.user.is_vendor %}
                            {{ seller.category.name }}
                            {% else %}
                            {{ seller.user.get_user_type_display }}
                            {% endif %}
                        </small>
                        <div class="d-flex justify-content-center gap-lg mt-3">
                            <a href="{% url 'remove-bookmark' seller.user_id %}" class="text-success">
                                <i class="fa-solid fa-heart"></i>
                                Saved
                            </a>
                            <a href="{% url 'seller-details' seller.user_id %}">
                                View more
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="text-danger">No vendor bookmarked!</div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}