{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<h5 class="mt-4 mb-5">My custom calendar</h5>

<div class="row row-cols-2">
    {% comment %} *** Due items *** {% endcomment %}
    <div class="col">
        <div class="todays text-start">
            <h3 class="text-uppercase mb-4">{{ active_dt|date:"l" }} <br>{{ active_dt|date:"F jS" }}</h3>
            <ul class="list-group">
                {% comment %} Tasks {% endcomment %}
                <h6 class="text-danger text-decoration-underline mb-0">Tasks due today</h6>
                {% for task in due_tasks %}
                <li class="list-group-item border-0 px-0">
                    <div>{{ task.task }}</div>
                    <span class="text-primary" title="Due date">
                        <i class="fa-regular fa-calendar"></i>
                        {{ task.due_date }}
                    </span>
                    {% if task.task_group %}
                    <a role="button" href="{% url 'organizer-event-tasks' task.event.id task.task_group_id %}" class="btn btn-sm btn-info px-1 py-0">{{ task.task_group }}</a>
                    {% else %}
                    <a role="button" href="{% url 'organizer-event-tasks' task.event.id %}" class="btn btn-sm btn-info px-1 py-0">Tasks</a>
                    {% endif %}
                    <a role="button" href="{% url 'organizer-event-details' task.event.id %}" class="btn btn-sm btn-secondary px-1 py-0">
                        {{ task.event }}
                    </a>
                </li>
                {% empty %}
                <div class="text-success mt-2">No tasks due!</div>
                {% endfor %}

                {% comment %} Bills/expenses {% endcomment %}
                <h6 class="text-danger text-decoration-underline mb-0 mt-4">Bills not settled yet</h6>
                {% for xp in due_bills %}
                <li class="list-group-item border-0 px-0">
                    <div>
                        {{ xp.description }}
                        <span>Cost: <strong>{{ xp.total_cost }}</strong></span>
                        <span>Paid: <strong>{{ xp.total_paid }}</strong></span>
                    </div>
                    <span class="text-primary" title="Date recorded">
                        <i class="fa-solid fa-pen"></i>
                        {{ xp.date_budgeted|date }}
                    </span>
                    <a role="button" href="{% url 'organizer-event-expenses' xp.event_id %}" class="btn btn-sm btn-info px-1 py-0">
                        {% if xp.expense_category %}
                        {{ xp.expense_category }}
                        {% else %}
                        General expenses
                        {% endif %}
                    </a>
                    <a role="button" href="{% url 'organizer-event-details' xp.event_id %}" class="btn btn-sm btn-secondary px-1 py-0">{{ xp.event }}</a>
                    {% empty %}
                    <div class="text-success mt-2">All events' bills settled!</div>
                    {% endfor %}
                </li>

                {% comment %} Chats {% endcomment %}
                <h6 class="text-danger text-decoration-underline mb-0 mt-4">New chats</h6>
                {% comment %} Guests without confirmation {% endcomment %}
                <h6 class="text-danger text-decoration-underline mb-0 mt-4">Guests not confirmed</h6>
            </ul>
        </div>
    </div>

    {% comment %} *** Calendar *** {% endcomment %}

    <div class="col">
        <div class="calendar rounded-md overflow-hidden border border-info">
            <div class="calendar-header bg-primary text-white rounded-top">
                <div class="calendar-header-highlight d-flex align-items-center justify-content-between py-4 px-3">
                    <a class="prev-month text-white" href="{% url 'calendar' yy=prev_year mm=prev_month %}">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <div class="month-info fw-bold text-uppercase">
                        {{ active_dt|date:"F" }} {{ active_dt.year }}
                    </div>
                    <a class="next-month text-white" href="{% url 'calendar' yy=next_year mm=next_month %}">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>

                <div class="calendar-header-months d-flex align-items-center justify-content-between text-uppercase py-2 px-3" style="background: #1467e1">
                    <a role="button" class="{% if active_dt.month == 1 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=1 %}">Jan</a>
                    <a role="button" class="{% if active_dt.month == 2 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=2 %}">Feb</a>
                    <a role="button" class="{% if active_dt.month == 3 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=3 %}">Mar</a>
                    <a role="button" class="{% if active_dt.month == 4 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=4 %}">Apr</a>
                    <a role="button" class="{% if active_dt.month == 5 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=5 %}">May</a>
                    <a role="button" class="{% if active_dt.month == 6 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=6 %}">Jun</a>
                    <a role="button" class="{% if active_dt.month == 7 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=7 %}">Jul</a>
                    <a role="button" class="{% if active_dt.month == 8 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=8 %}">Aug</a>
                    <a role="button" class="{% if active_dt.month == 9 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=9 %}">Sep</a>
                    <a role="button"class="{% if active_dt.month == 10 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=10 %}">Oct</a>
                    <a role="button"class="{% if active_dt.month == 11 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=11 %}">Nov</a>
                    <a role="button"class="{% if active_dt.month == 12 %}active{% endif %}" href="{% url 'calendar' yy=active_dt.year mm=12 %}">Dec</a>
                </div>
            </div>

            <div class="calendar-labels d-flex flex-items-equal align-items-center text-muted py-3">
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
            </div>

            <div class="calendar-body">
                {% for e in num_skip %}
                <div class="blank"></div>
                {% endfor %}
                {% for dd in month_days %}
                <div class="date {% if active_dt.day == dd %}active{% endif %}">
                    <a role="button" href="{% url 'calendar' yy=active_dt.year mm=active_dt.month dd=dd %}">{{ dd }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="calendar-footer rounded-bottom px-3 py-2">
                <a href="{% url 'calendar' %}" class="btn btn-sm btn-light text-primary fw-bold py-1">Today</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}