{% extends 'base.html' %}
{% load static %}

{% block title %} ElTukio | Home {% endblock title %}

{% block body %}
{% include 'components/header.html' %}

<div class="p-body text-center">
    <h1 class="mb-2" style="margin-top: 9rem">ElTukio</h1>
    <h5 class="mb-5 text-muted text-capitalize">Your favorite event planning assistant</h5>
    <a href="{% url 'register' %}" class="btn btn-primary mb-3">Register</a>
    <a href="{% url 'login' %}" class="btn btn-success mb-3 ms-2">Login</a>

    <form method="post" autocomplete="off">
        <label class="form-field mb-3">
            <span for="d-block">Location:</span>
            <input type="text" name="location_picker" id="locationPicker" class="form-control" autofocus required autocomplete="off">
        </label>
        <label class="form-field mb-3">
            <span class="d-block">City</span>
            <input type="text" class="form-control" name="city" id="city">
        </label>
        <label class="form-field mb-3">
            <span class="d-block">State/Province/County</span>
            <input type="text" class="form-control" name="state" id="state">
        </label>
        <label class="form-field mb-3">
            <span class="d-block">Postal code</span>
            <input type="text" class="form-control" name="postcode" id="postcode">
        </label>
        <label class="form-field mb-3">
            <span class="d-block">Country/Region</span>
            <input type="text" class="form-control" name="country" id="country">
        </label>
    </form>

    {% comment %} <h5>Editor</h5>
    <div id="editorjs" class="editorjs border rounded"></div>
    <button type="button" class="btn btn-primary mt-3" id="editorSaveBtn">Save</button> {% endcomment %}
</div>

{% endblock body %}

{% block scripts %}
{% include 'components/editorjs-links.html' %}
<script src="{% static 'js/logic/test.js' %}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key|safe }}&libraries=places&callback=initMap">
</script>

{% comment %} <script>
    var GOOGLE_API_KEY = '{{ google_api_key|safe }}'
</script> {% endcomment %}
{% endblock scripts %}