{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} ElTukio | Login {% endblock %}

{% block body %}
<div class="container center">
    <h2 class="mb-4">User Login</h2>

    <form action="{% url 'login' %}" class="mb-5" method="POST" novalidate>
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group mb-3">
            {{ field.label_tag }}
            {% render_field field class+="form-control" %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    <div class="mb-5">
        <span>Don't have an account yet?</span>
        <a href="{% url 'register' %}">Create account</a>
    </div>
    <a class="btn btn-secondary" href="{% url 'home' %}">Go back Home</a>
</div>

{% endblock %}