{% extends 'base.html' %}

{% block title %} ElTukio | Planners {% endblock %}

{% block body %}
{% include 'components/header.html' %}

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
    {% for planner in planners %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ planner.user.profile.url }}" class="rounded m-1" alt="planner profile">
            <div class="card-body">
                <div class="fs-6"><strong>{{ planner.user }}</strong></div>
                <div class="rating">
                    <span class="text-warning"><i class="fas fa-star"></i></span>
                    <span class="num">4.5 - 5 reviews</span>
                </div>
                <div class="card-subtitle text-muted">{{ planner.location }} - {{ planner.city }}</div>
                <small class="btn-secondary rounded px-2">{{ planner.user.get_user_type_display }}</small>
                <div class="d-flex justify-content-evenly mt-3">
                    <a href="{% url 'planner-details' planner_id=planner.user_id %}" class="card-link">
                        View more
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                    {% if user.is_organizer or user.is_planner %}
                    {% if user.is_organizer and planner.user in user.organizer.bookmarks.all or user.is_planner and planner.user in user.planner.bookmarks.all %}
                    <a href="{% url 'remove-bookmark' user_id=planner.user_id %}" class="card-link text-success">
                        <i class="fa-solid fa-heart"></i>
                        Saved
                    </a>
                    {% else %}
                    <a href="{% url 'bookmark' user_id=planner.user_id %}" class="card-link">
                        <i class="fa-solid fa-heart"></i>
                        Save
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}