:root {
    --tk-dim-header: 70px;
}

body {
    padding: 0 2rem 4rem;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

textarea {
    height: 80px;
}

form {
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: var(--tk-dim-header);
}

.logo {
    font-size: 1.5rem;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.gap-sm {
    gap: 0.5rem !important;
}

.gap-md {
    gap: 1rem !important;
}

.gap-lg {
    gap: 2rem !important;
}

.gap-xl {
    gap: 3rem !important;
}

.rounded-sm {
    border-radius: 0.5rem !important;
}

.rounded-md {
    border-radius: 1rem !important;
}

.rounded-lg {
    border-radius: 1.5rem !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.flex-items-equal > *{
    flex: 1 1 0;
}

.hint,
.help-text {
    display: inline-block;
}

.hint::before,
.help-text::before {
    content: "[";
}

.hint::after,
.help-text::after {
    content: "]";
}

[type=checkbox].rounded-circle {
    width: 1.3em;
    height: 1.3em;
}


/* chat */

.chat-form-wrapper .alert {
    box-shadow: inset 0 2px 4px rgba(255 255 255 / 0.8), -1px 2px 6px 2px rgba(0 0 0 / 0.3);
}

.messages-wrapper {
    background-color: #829ebb;
}

.chat-message,
.chat-message-inner {
    flex: 1 1 80%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0 0 0 / 0.2);
}

.chat-message-inner {
    border-radius: 0.5rem !important;
    box-shadow: 0 1px rgb(0 0 0 / 20%);
}

.chat-message .chat-message-inner {
    margin-bottom: 0.25rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    opacity: 0.85;
}

.chat-message.outgoing {
    align-self: flex-end;
    border-top-right-radius: 0;
    background-color: #e5efff;
}

.chat-message.incoming {
    align-self: flex-start;
    border-top-left-radius: 0;
    background-color: #fff;
}

.alert .chat-message-inner,
.chat-message.outgoing .chat-message-inner {
    background-color: #fff;
}

.chat-message.incoming .chat-message-inner {
    background-color: #ededed;
}

.chat-message .options  {
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.chat-message:hover .options {
    opacity: 1;
}

.chat-message.outgoing .options {
    right: 100%;
}

.chat-message.incoming .options {
    left: 100%;
}

.chat-message .options>* {
    --radius: 36px;
    width: var(--radius);
    height: var(--radius);
    background-color: rgba(255 255 255 / 0.5);
    transition: 0.1s ease-in-out;
}

.chat-message .options>*:hover {
    background-color: rgba(255 255 255 / 1);
}


/* calendar */

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-body > * {
    --cell-size: 40px;
    height: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-body > * > *{
    width: calc(-4px + var(--cell-size, 40px));
    height: calc(-4px + var(--cell-size, 40px));
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-radius: 50%;
}

.calendar-body > *:hover > * {
    color: #000;
    background-color: #c5dcff;
}

.calendar-body > *.active > * {
    color: #fff;
    background-color: #0d6efd;
    pointer-events: none;
}

.calendar-header-months > * {
    font-size: 11px;
    color: rgba(255 255 255 / 0.6);
}

.calendar-header-months > *:hover {
    color: rgba(255 255 255 / 0.6);
    text-decoration: underline;
}

.calendar-header-months>*.active {
    color: #fff;
    pointer-events: none;
}