{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Password update {% endblock %}

{% block body %}
<h4 class="mb-5">Password update</h4>
<form action="{{ request.path_info }}" class="mb-5" method="POST" novalidate>
    {% csrf_token %}
    <div class="form-field mb-3">
        <label for="oldPassword">Old password:</label>
        <input type="password" name="oldPassword" id="oldPassword" class="form-control">
    </div>
    <div class="form-field mb-3">
        <label for="newPassword">New password:</label>
        <input type="password" name="newPassword" id="newPassword" class="form-control">
    </div>
    <div class="form-field mb-3">
        <label for="confPassword">Confirm password:</label>
        <input type="password" name="confPassword" id="confPassword" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
{% endblock body %}