{% extends 'base.html' %}
{% load static %}

{% block title %} ElTukio | Create account {% endblock title %}

{% block body %}
<div class="p-body text-center">
    <h5 class="mb-5 mt-2"><a href="{% url 'home' %}">ElTukio</a> | Register</h5>
    <h4 class="mb-5">Who are You?</h4>

    <div class="d-flex gap-md justify-content-center">
        <a href="{% url 'register-organizer' %}" class="btn btn-primary py-4 px-5 mb-3">
            I'm organizing my own event
        </a>
        <a href="{% url 'register-planner' %}" class="btn btn-success py-4 px-5 mb-3">
            I'm a proffessional event planner
        </a>
        <a href="{% url 'register-vendor' %}" class="btn btn-secondary py-4 px-5 mb-3">
            I sell stuff for events
        </a>
    </div>
</div>
{% endblock body %}