{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
{% include 'components/nav-event.html' %}

<div hidden style="display: none;">
    <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasExpense"></span>
    <!-- <input type="hidden" id="_eventDate" value="{{ event.event_date }}"> -->
    <input type="hidden" id="activeTaskGroup" value="{{ active_group }}">
</div>

<div class="text-start p-3" style="background: lightblue;">
    <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body p-4">
                    <div class="text-muted">Event budget:</div>
                    KES <span id="eventBudget">{{ event.event_budget }}</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow h-100">
                <div class="card-body p-4">
                    <div class="text-muted">Balance:</div>
                    KES <span id="eventBudget">{{ event.event_budget }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white rounded shadow my-3 p-4">
        <div class="d-flex justify-content-between align-items-end pb-4">
            <div class="d-flex gap-sm">
                <span>FILTER BY:</span>
                <div class="form-group mx-2 mb-0">
                    <label for="">Payment Status:</label>
                    <select name="payStatusFilter" id="payStatusFilter" class="form-select">
                        <option value="" selected>---------</option>
                        <option value="full">Fully paid</option>
                        <option value="partial">Partially paid</option>
                        <option value="no">Not paid</option>
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newExpenseModal">
                <i class="fas fa-plus"></i>
                <span class="ms-1">New Expense</span>
            </button>
        </div>

        <table class="table" id="expensesTable">
            <thead>
                <tr>
                    <th>Expense</th>
                    <th>Estimated cost</th>
                    <th>Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for exp in expenses %}
                <tr data-exp-id="{{ exp.id }}" class="cursor-pointer" onclick="expenseDetails({{ exp.id }})">
                    <td data-value="description">{{ exp.description }}</td>
                    <td data-value="total-cost">{{ exp.total_cost }}</td>
                    <td data-value="total-paid">{{ exp.total_paid }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-danger">No expenses recorded yet!</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block modals %}
<div class="modal fade" id="newExpenseModal" tabindex="-1" role="dialog" aria-labelledby="newExpenseModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <form name="newExpenseForm" class="modal-content" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="{{ expense_form.prefix }}">
            <div class="modal-header border-white">
                <h5 class="modal-title" id="newExpenseModalTitle">Record new expense</h5>
            </div>
            <div class="modal-body">
                {% for field in expense_form.visible_fields %}
                <div class="form-field mb-3">
                    {{ field.label_tag }}
                    {% if field.field.widget.input_type == 'select' %}
                    {% render_field field class+="form-select"%}
                    {% else %}
                    {% render_field field class+="form-control"%}
                    {% endif %}

                    {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.erros %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="my-0 btn btn-outline-dark border-0" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="my-0 btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="offcanvas offcanvas-end text-start" tabindex="-1" id="offcanvasExpense" aria-labelledby="offcanvasExpenseLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasExpenseLabel">Expense record</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-light">
        <form method="POST" id="expenseUpdateForm" name="expenseUpdateForm">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="{{ expense_u_form.prefix }}">

            <div class="form-field mb-3">
                {% render_field expense_u_form.description class+="form-control" %}
            </div>

            <div class="form-field mb-3">
                {% with expense_u_form.total_cost as ff %}
                {{ ff.label_tag }}
                {% render_field ff class+="form-control" %}
                {% endwith %}
            </div>

            <div class="form-field mb-3">
                {% with expense_u_form.total_paid as ff %}
                {{ ff.label_tag }}
                {% render_field ff class+="form-control" %}
                {% endwith %}
            </div>
            <input type="submit" value="Update" hidden>
        </form>

        <div class="card-body bg-white shadow-sm border-bottom mb-2">
            <span class="d-block text-muted">Budgeted by</span>
            <span class="d-block" id="budgetedBy"></span>
            <small class="d-block" id="dateBudgeted"></small>
        </div>

        <div class="card-body bg-white shadow-sm border-bottom mb-2">
            <a href="#" class="d-block text-danger" id="deleteExpense">
                <i class="fa-solid fa-trash-can"></i>
                <span class="ms-2">Delete</span>
            </a>
        </div>
    </div>
</div>
{% endblock modals %}

{% block scripts %}
<script src="{% static 'js/dom/expenses.js' %}" defer></script>
<script src="{% static 'js/logic/expenses.js' %}" defer></script>
{% endblock scripts %}