<nav class="sidenav border-end text-start">
    <div class="nav-link-group mb-4">
        <a class="nav-link ps-0" href="{% url 'planner-dashboard' %}">Dashboard</a>
        <a class="nav-link ps-0" href="{% url 'current-deals' %}">Current deals</a>
        <a class="nav-link ps-0" href="#">Quote requests</a>
    </div>
    <div class="nav-link-group mb-4">
        <a class="nav-link ps-0" href="#">Business profile</a>
        <a class="nav-link ps-0" href="#">Business images</a>
        <a class="nav-link ps-0" href="{% url 'user-account' %}">My  account</a>
    </div>
    <div class="nav-link-group">
        <a class="nav-link ps-0" href="#">Settings</a>
    </div>
</nav>